:root {
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Montserrat";
    --fonte-detalhe: 'Playfair Display', serif;
    

    --marrom-escuro: #341d08;
    --marrom-claro: #c08457;
    --branco: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
}

.container {
   padding-left: 6%;
   padding-right: 6%;
}