.cabecalho {
    background-color: var(--marrom-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0;
}

.cabecalho-icone {
    width: 30px;
    height: 30px;
    padding-right: .5rem;
    filter: brightness(0) saturate(100%) invert(11%) sepia(40%) saturate(1101%) hue-rotate(350deg) brightness(94%) contrast(96%);
}

.logo {
    text-decoration: none;
    color: var(--marrom-escuro);
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 1.5rem;
}

.navegacao {
    display: none;
}

.divisao {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .navegacao {
        display: block;
    }

    .divisao {
        display: flex;
        align-items: center;
    }

    .cabecalho {
        justify-content: space-around;
    }

    .navegacao-lista {
        display: flex;
        gap: 1rem;
    }

    .navegacao-item {
        font-weight: 600;
    }

    .navegacao-link {
        text-decoration: none;
        color: var(--marrom-escuro);
    }
}

@media screen and (min-width: 1024px) {
    .navegacao-lista {
        gap: 2rem;
    }

    .navegacao-link {
        transition: .2s;
        display: inline-block;
    }

    .navegacao-link:hover {
       color: var(--branco); 
       transform: translateY(-2px) ;
    }
}