.rodape {
    background-color: var(--marrom-claro);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;  
}

.cabecalho-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.rodape-logo {
    text-decoration: none;
    color: var(--marrom-escuro);
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 700;
}

.rodape-icone {
    filter: brightness(0) saturate(100%) invert(11%) sepia(40%) saturate(1101%) hue-rotate(350deg) brightness(94%) contrast(96%);
}

.lista-rodape {
    display: flex;
    justify-content: space-around;
}

.item-rodape{
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.navegacao-link {
    text-decoration: none;
    color: var(--marrom-escuro);
}

.creditos {
    display: none;
}

@media screen and (min-width: 768px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .cabecalho-rodape {
        padding-bottom: 0;
    }
    
    .lista-rodape {
        flex-direction: column;
        gap: 1rem;
        border-left: 1px solid black;
        padding-left: 11rem;
    }

    .creditos {
        display: block;
        position: absolute;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        padding: 1.5rem 0;
    
    }
    .lista-rodape {
        border: none;
        flex-direction: row;
        
    }
}